In [147]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [148]:
# Format Data Frame
pd.set_option('display.max_colwidth', None)

In [149]:
# Store file path
budget = Path("Resources/budget_data.csv")

In [150]:
# Read data file with Pandas
budget_df = pd.read_csv(budget)

In [151]:
 # Count number of months
months_total = budget_df["Date"].count()

In [152]:
# Add total amount of profit/loss
profit_loss_total = budget_df["Profit/Losses"].sum()

In [153]:
# Pull first and last profit/loss values
profit_first = budget_df.iloc[0, 1]
profit_last = budget_df.iloc[85, 1]

In [154]:
# Calculate average change in profit/loss
total_change = profit_last - profit_first

average_change = total_change / (months_total - 1)

In [155]:
# Sort data frame by profit/loss
profit_df = budget_df.sort_values(by="Profit/Losses", ascending=False)

In [156]:
# Identify Min and Max Values
max_profit = profit_df.iloc[0, :]
min_profit = profit_df.iloc[85, :]

In [157]:
# Create new data frame
analysis_df = pd.DataFrame([
    {"Data Type": "Total Months", "Value": months_total},
    {"Data Type": "Total", "Value": profit_loss_total},
    {"Data Type": "Average Change", "Value": average_change},
    {"Data Type": "Greatest Increase in Profits", "Value": max_profit},
    {"Data Type": "Greatest Decrease in Profit", "Value": min_profit}
])

analysis_df

,Data Type,Value
0,Total Months,86
1,Total,22564198
2,Average Change,-8311.11
3,Greatest Increase in Profits,"Date Mar-13 Profit/Losses 1141840 Name: 38, dtype: object"
4,Greatest Decrease in Profit,"Date Dec-10 Profit/Losses -1194133 Name: 11, dtype: object"

In [158]:
# Print analysis to terminal
print(analysis_df)

                      Data Type  \
0                  Total Months
1                         Total
2                Average Change
3  Greatest Increase in Profits
4   Greatest Decrease in Profit

                                                                         Value
0                                                                           86
1                                                                     22564198
2                                                                     -8311.11
3    Date              Mar-13
Profit/Losses    1141840
Name: 38, dtype: object
4  Date               Dec-10
Profit/Losses    -1194133
Name: 11, dtype: object

In [159]:
# Export to Text File
analysis_df.to_csv('Analysis/analysis.txt', sep='\t', index=False)