In [106]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [107]:
# Format Data Frame
pd.set_option('display.max_colwidth', None)

In [108]:
# Store file path
budget = Path("Resources/budget_data.csv")

In [109]:
# Read data file with Pandas
budget_df = pd.read_csv(budget)
budget_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [110]:
 # Count number of months
months_total = budget_df["Date"].count()
months_total

86

In [111]:
# Add total amount of profit/loss
profit_loss_total = budget_df["Profit/Losses"].sum()
profit_loss_total

22564198

In [112]:
# Pull first and last profit/loss values
profit_first = budget_df.iloc[0, 1]
profit_last = budget_df.iloc[85, 1]

print(profit_first)
print(profit_last)

1088983
382539

In [113]:
# Calculate average change in profit/loss
total_change = profit_last - profit_first

average_change = total_change / (months_total - 1)
average_change

-8311.105882352942

In [114]:
# Sort data frame by profit/loss
profit_df = budget_df.sort_values(by="Profit/Losses", ascending=False)

In [115]:
# Identify Min and Max Values
max_profit = profit_df.iloc[0, :]
min_profit = profit_df.iloc[85, :]

In [120]:
# Create new data frame
analysis_df = pd.DataFrame([
    {"Data Type": "Total Months", "Value": months_total},
    {"Data Type": "Total", "Value": profit_loss_total},
    {"Data Type": "Average Change", "Value": average_change},
    {"Data Type": "Greatest Increase in Profits", "Value": max_profit},
    {"Data Type": "Greatest Decrease in Profit", "Value": min_profit}
])

print(analysis_df)

                      Data Type  \
0                  Total Months
1                         Total
2                Average Change
3  Greatest Increase in Profits
4   Greatest Decrease in Profit

                                                                         Value
0                                                                           86
1                                                                     22564198
2                                                                     -8311.11
3    Date              Mar-13
Profit/Losses    1141840
Name: 38, dtype: object
4  Date               Dec-10
Profit/Losses    -1194133
Name: 11, dtype: object

In [117]:
# Export to Text File